## Destacando Missing Values ##

In [0]:
import pandas as pd
import numpy as np

In [0]:
df = pd.DataFrame({'Nome': ['Lucas', 'Pedro', 'Larissa', np.nan, 'Juliana', 'Marcos', 'Ana', 'Letícia', 'Silvana', 'np.nan'], 'Idade': [20, np.nan, 32, 29, 26, np.nan, 33, 24, 36, 21]})

In [7]:
df.style.highlight_null(null_color='red')